.sideBar {
  width: 25%;
  min-width: 200px;
  border-right: 1px solid #efefef;
  height: calc(100vh - 80px);
  background: #fff;
  color: #666;
  padding: 30px 20px 0;
}

.list {
  padding: 0;
}

.list li {
  margin: 8px 0;
}

.list li a {
  display: block;
  padding: 8px 20px;
  border-radius: 5px;
}

.list .title {
  padding-left: 20px;
  margin-bottom: 12px;
  color: rgb(209, 210, 204);
  font-size: 12px;
  font-weight: bold;
  cursor: default;
}

:global .active {
  background: rgb(26, 204, 112);
  color: #fff;
}
