body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  position: relative;
  color: #666;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #666;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
